.container {
  margin-top: 100px;
  background-color: white;
  border-color: black;
  border: solid;
  border-radius: 25px;
}

body {
  background: linear-gradient(45deg, rgba(195,41,214,1) 34%, rgba(132,0,255,0.8072362734156162) 51%);
  color: black;
}

.btn {
  background-color: rgb(75, 0, 130);
  color: white;
  width: 300px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.no-button {
  background-color: red;
}

.yes-button {
  background-color: green;
}

table {
  border: 3px solid black;
}

.difference {
  font-weight: bold;
}

.positive-message {
  color: green;
}

.negative-message {
  color: red;
}

.neutral-message {
  color: orange;
}

.error {
  color: red;
}